:root {
  --mainBlue: #40ACF1;
  --transparentBlue: rgba(64, 172, 241, 0.7);
  --mainWhite: #f1f1f1;
  --mainBlack: #222;
  --mainGrey: rgb(216, 214, 214);
  --mainYellow: #f5ed05;
}

body {
  font-family: 'Merriweather', serif;
  color: var(--mainBlack);
  background: var(--mainWhite);
}

/*Section title */
.section-title--special {
  background: var(--transparentBlue);
  color: var(--mainWhite);
  padding: 0.5rem 2rem!important;
  /*styling for title */
  clip-path: polygon(10% 0, 100% 0, 90% 100%,0 100%);
}

/* preloader */
.preloader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--mainWhite)!important;
  z-index: 999;
}

 .hidePreloader {
  display: none!important;
}

/* Navbar */
.navbar {
  background: var(--mainWhite);
}

.navbar-icon {
  font-size: 2rem;
  color: var(--mainBlue);
}

/*parent element class */
.navbar-toggler {
  outline-color: var(--mainYellow)!important;
  }

  .nav-link {
    color: #333;
    text-transform: capitalize;
  }

  .nav-link:hover {
    color: var(--mainBlue)!important;
  }

  .nav-icon {
    font-size: 1.5rem;
    color: var(--mainBlue);
    text-decoration: none!important;
    /*must call property first of element we want to change, in this case color*/
    transition-property: color;
    transition-duration: 1.5s;
    /* tells how the transition takes place */
    transition-timing-function: linear; /*linear, transition starts the same way it ends */
  }


.nav-icon:hover {
  color: var(--mainBlack)!important;
}


/* header */

.header {
  /*shape of the header/ pointed end using cip-path property*/
  clip-path: polygon(0 0,100% 0,100% 95%,50% 100%,0 95%);
  color: var(--mainWhite);
  overflow: hidden; /* makes sure on image is moving, not entire header*/
}

.height-max {
  /*setting a min height helps the image actually span/show properly*/
  /*calc must be set also because navbar has its own height*/
  min-height: calc(100vh - 76px);
  background: url("img/car-bg.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed; /* parallax effect as user scrolls */
  background-repeat: no-repeat;
  animation-name: zoom;
  animation-duration: 20s;
  animation-delay: 3.5s;
  animation-iteration-count: infinite;
}

/*header animation/ zoom in/out */
@keyframes zoom {

  /*values at 0%, & so on */
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2) translateX(-5%); /*translateX to move on x-axis left/right */
  }

  100% {
    transform: scale(1);
  }
}

.title-heading {
  background: rgba(0, 0, 0, 0.4);
  border-left: 0.3rem solid var(--mainBlue);
}

.title {
  font-weight: 800;
  font-size: 1.9rem;
}

@media screen and (min-width:760px) {
  .title {
    font-size: 3rem;
  }
}

.title-icon {
  color: var(--mainBlue)!important;
  text-decoration: none!important;
}

.title-icon:hover {
  color: var(--mainBlue);
  opacity: 0.5;
}

/* skills & single-skills */
.skills-icon {
  font-size: 3rem;
  color: var(--mainYellow)!important;
  background: var(--mainGrey)!important;
}

.skills-icon:hover {
  color: var(--mainBlue)!important;
}

.skills-underline {
  width: 4rem;
  height: 0.3rem;
  background: var(--mainBlue)!important;
  /*center underline*/
  margin: 1rem auto;
}

.skills p {
  color: var(--mainBlack)!important;
  font-weight: 500!important;
}

/* Inventory & cars */

.inventory {
  background: var(--mainGrey)!important;
}

.review {
  background: var(--mainWhite)!important;
}

.car-card {
  border-radius: 0!important;
}

/* make the image & card have rounded edges */
.car-img {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.car-value {
  background: var(--mainBlue)!important;
  color: var(--mainWhite)!important;
  /* clip-path targetting x,y x,y x,y values */
  clip-path: polygon(15% 0,85% 0,100% 100%,0 100%);
  transition: all 1s linear; /*all properties */
}

.car-value:hover {
  /*gets shape back to a full square
  clip-path: polygon(0% 0,100% 0,100% 100%,0 100%); */
  background: var(--mainBlack)!important;
  cursor: pointer;
}

/* Questions/ Inquiry */

.question {
  background: url('img/question-bg.jpg')center/cover fixed no-repeat;
}

.question-grey {
  background: rgba(79, 109, 122, 0.75);
}

.question-yellow {
  background: rgba(227, 181, 5, 0.75);
}

.question-icon {
  font-size: 4rem;
  color: var(--mainBlue)!important;
  transition: all 0.4s ease-in-out;
}

.question-icon:hover {
  /* lift UP animation */
  transform: translateY(-10%);
  color: var(--mainBlue)!important;
}

.question-info {
  color: var(--mainWhite)!important;
}

/* Featured Section */

.featured {
  background: var(--mainGrey)!important
}

.featured-item {
  background: var(--mainWhite)!important;
  border-radius: 0.5rem;
  opacity: 0.5;
  cursor: pointer;
  transition: all 1s ease-in-out;
}

.featured-item:hover {
  opacity: 1;
  transform: scale(1.05);
}

.featured-icon {
  font-size: 1.5rem;
  color: var(--mainYellow)!important;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
}

.featured-icon:hover {
  color: var(--mainBlue)!important;
}

.img-container {
  background: var(--mainBlue)!important;
  position: relative;
  /* keeps the zoom in effect within the container, so it doesn't expand too wide */
  overflow: hidden;
}

.img-container:hover .featured-photo {
  transform: scale(1.4);
  opacity: 0.5;
}

.featured-photo {
  transition: all 1s ease-in-out;
}

.featured-link {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2.5rem;
  /*making sure icon is placed in the center */
  transform: translate(-50%, -50%);
  color: var(--mainBlack)!important;
  opacity: 0;
  transition: all 1s ease-in-out;
}

.featured-link:hover {
  color: var(--mainYellow)!important;
}

.img-container:hover .featured-link {
  opacity: 1;
}

/* footer icons */
.footer {
  background: var(--mainBlack)!important;
}

.footer-icon {
  font-size: 1.3rem;
  color: var(--mainYellow)!important;
  transition: all 1s ease-in-out;
}
.footer-icon:hover {
color: var(--mainBlue)!important;
}


@media screen and (max-width: 425px) {
  .height-max {
    background-position: center;
    background-attachment: scroll;
  }
}
